<div class="container">

  <table>
    <tr>
       <th>講師名</th>
       <td><%= @teacher.name %></td>
    </tr>

  </table>

  <%= form_with model:@working, local:true do |f| %>
    <%= f.hidden_field :teacher_id, value: @teacher.id %>
    <%= f.collection_select(:subject_id, @teacher.subjects, :id, :subject_name) %>

    <%= f.label :start_at, "開始時間" %>
    <%= f.datetime_select :start_at, minute_step: 10 %>

    <%= f.label :end_at, "終了時間" %>
    <%= f.datetime_select :end_at, minute_step: 10 %>

    <%= f.submit"登録" %>

  <% end %>

  <% @workings.each do |working| %>
  <%= link_to edit_working_path(working, :teacher_id => @teacher.id) do %>
  <%= working.start_at.strftime("%H:%M") %>-<%= working.end_at.strftime("%H:%M") %>
  <%= working.subject.subject_name %>
  <% end %>
 <% end %>



<%= month_calendar workings: @workings do |date, workings| %>
  <%= date.day %>



<% end %>

</div>