<div class="container">
 <div class="row mt-5">
  <div class="mx-auto">

<%= form_with model:@student, local:true do |f| %>

<table class="table-bordered">
<tr>
<th style="width:300px;">生徒名</th>
<td style="width:520px;"><%= f.text_field :name %></td>
</tr>

<tr>
<th style="width:300px;">ふりがな</th>
<td style="width:520px;"><%= f.text_field :name_kana %></td>
</tr>

<tr>
<th style="width:300px;">学年</th>
<td style="width:510px;">
<%= f.select :grade, [["小1", "小学1年生"], ["小2", "小学2年生"],["小3", "小学3年生"],["小4", "小学4年生"],["小5", "小学5年生"],["小6", "小学6年生"],
                      ["中1", "中学1年生"],["中2", "中学2年生"],["中3", "中学3年生"],
                      ["高1", "高校1年生"],["高2", "高校2年生"],["高3", "高校3年生"],["卒生", "浪人生"]], include_blank: "学年選択" %>
</td>
</tr>

<tr>
<th style="width:300px;">学校名</td>
<td style="width:520px;"><%= f.text_field :school %></td>
</tr>

<tr>
<th style="width:300px;">電話番号</th>
<td style="width:520px;"><%= f.text_field :phone_number %></td>
</tr>

<tr>
<th style="width:300px;">性別</th>
<td style="width:520px;">
<label><%=f.radio_button :gender, :"男性" %>男性</label>
<label><%=f.radio_button :gender, :"女性" %>女性</label>
</td>
</tr>

<tr>
<th style="width:300px;">受講科目</th>
<td style="width:520px;">
<% Subject.all.each do |subject| %>
<%= check_box_tag 'student[subject_students_attributes][][subject_id]', subject.id %>
<%= label_tag subject.id, subject.subject_name %>
<% end %>
</td>
</tr>

<tr>
<th style="width:300px;">在籍</th>
 <td style="width:520px;">
  <%= f.radio_button :is_deleted, false %>
  <%= f.label :is_deleted, "在籍", value:false %>
  <%= f.radio_button :is_deleted, true %>
  <%= f.label :is_deleted, "退塾", value:true %>
</td>
</tr>
</table>

    <%= f.submit"登録" %>


<% end %>
  </div>
 </div>
</div>

