<div>生徒名</div>
<div>ふりがな</div>
<div>学年</div>
<div>学校名</div>
<div>電話番号</div>
<div>性別</div>
<div>受講科目</div>

<div><%= @student.name %></div>
<div><%= @student.name_kana %></div>
<div><%= @student.grade %></div>
<div><%= @student.school %></div>
<div><%= @student.phone_number %></div>
<div><%= @student.gender %></div>
<div>
    <% @subjects.map(&:subject_name).each do |subject| %>
      <%= subject %>
    <% end %>
</div>

<!--%= link_to"成績管理", record_path(@record) %>-->
