<div class="record-box">
  <div class="container">
     <div class="row mt-3">
      <h1>成績編集</h1>
        <div class="offset-md-4"></div>
        <table class="table-bordered col-md-6">
          <thead  class="table-secondary">
            <tr>
              <td style="width: 30%">学校名</td>
              <td style="width: 20%">学年</td>
              <td style="width: 50%">生徒名</td>
            </tr>
          </thead>

          <tbody class="table-bordered">
            <tr  class="table-light text-center">
              <td><%= @student.school %></td>
              <td><%= @student.grade %></td>
              <td><%= @student.name %></td>
            </tr>
          </tbody>
        </table>
    </div>

    <% if @student.grade == '高校1年生' || @student.grade == '高校2年生' || @student.grade == '高校3年生' %>
      <%= render'records/h_edit', record: @record %>
    <% else %>
      <%= render'records/jh_edit', record: @record %>
    <% end %>

    <div class="mt-3">
      <%= link_to "戻る", records_path(:student_id => @student.id), class: "btn btn-back" %>
    </div>

  </div>
</div>