<div class="container">
   <div class="row mt-3">
    <div class="offset-md-6"></div>
    <table class="col-md-6">
      <thead class="table-bordered">
        <tr>
          <td style="width: 30%">学校名</td>
          <td style="width: 20%">学年</td>
          <td style="width: 50%">生徒名</td>
        </tr>
      </thead>

      <tbody class="table-bordered">
        <tr>
          <td><%= @student.school %></td>
          <td><%= @student.grade %></td>
          <td><%= @student.name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if @student.grade == '高1' || '高2' || '高3' %>
    <%= render'records/h_edit', record: @record %>
  <% else %>
    <%= render'records/jh_edit', record: @record %>
  <% end %>

</div>