<div class="record-box">
  <div class="container">
     <div class="row mt-3">
      <h1>成績編集</h1>
        <div class="offset-md-4"></div>
        <table class="col-md-6">
          <thead class="table-bordered">
            <tr  class="record-table">
              <td style="width: 30%">学校名</td>
              <td style="width: 20%">学年</td>
              <td style="width: 50%">生徒名</td>
            </tr>
          </thead>

          <tbody class="table-bordered">
            <tr  class="record-table">
              <td><%= @student.school %></td>
              <td><%= @student.grade %></td>
              <td><%= @student.name %></td>
            </tr>
          </tbody>
        </table>
    </div>

    <% if @student.grade == '高1年生' || @student.grade == '高校2年生' || @student.grade == '高3年生' %>
      <%= render'records/h_edit', record: @record %>
    <% else %>
      <%= render'records/jh_edit', record: @record %>
    <% end %>

    <%= link_to "戻る", :back %>

  </div>
</div>