<div class="record-box">  
  <div class="container">
    <h1>成績</h1>
      <div class="row mt-3">
          <div class="offset-md-4"></div>
          <table class="col-md-6 table-bordered">
            <thead class="table-secondary">
              <tr>
                <td style="width: 30%">学校名</td>
                <td style="width: 20%">学年</td>
                <td style="width: 50%">生徒名</td>
              </tr>
            </thead>
      
            <tbody class="table-light text-center">
              <tr>
                <td><%= @student.school %></td>
                <td><%= @student.grade %></td>
                <td><%= @student.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
  
    <% if @student.grade == '高校1年生' || @student.grade == '高校2年生' || @student.grade == '高校3年生' %>
      <%= render'records/h_index', record: @record, student: @student, records: @records %>
    <% else %>
      <%= render'records/jh_index', record: @record, student: @student, records: @records %>
    <% end %>
  
     <%= link_to "戻る", student_path(@student), class: "btn btn-back" %>
  
  </div>
</div>