<div class="container">

  <table>
    <tr>
       <th>講師名</th>
       <td><%= @teacher.name %></td>
    </tr>
  </table>

  <%= form_with model:@shift, local:true do |f| %>
    <%= f.hidden_field :teacher_id, value: @teacher.id %>
    <%= f.label :start_at, "開始時間" %>
    <%= f.datetime_field :start_at %>
    <%= f.label :end_at, "終了時間" %>
    <%= f.datetime_field :end_at %>

    <%= f.submit"登録" %>
  <% end %>


  <div class="calender">
    <%= month_calendar events: @shifts do |date, shifts| %>
      <%= date.day %>
      <% shifts.each do |shift| %>
        <div>
          <%= link_to edit_shift_path(shift, :teacher_id => @teacher.id) do %>
            <%= shift.start_at.strftime("%H:%M") %>-<%= shift.end_at.strftime("%H:%M") %>
          <% end %>
        </div>
  　　<% end %>
    <% end %>
  </div>

</div>