<div class="menu">
  <h1 class="menu-text">MENU</h1>
    <div class="student-menu">
      <nav>
        <ul>
          <h2>生徒関連</h2>
          <li><%= link_to"生徒一覧", students_path %></li>
          <li><%= link_to"生徒新規登録", new_student_path %></li>
        </ul>
      </nav>
    </div>

    <div class="teacher-menu">
      <nav>
        <ul>
          <h2>講師関連</h2>
          <li><%= link_to"講師一覧", teachers_path %></li>
          <li><%= link_to"講師新規登録", new_teacher_path %></li>
        </ul>
      </nav>
    </div>


    <div class="lesson-menu">
      <nav>
        <ul>
          <h2>授業関連</h2>
          <li><%= link_to"授業一覧", lessons_path %></li>
          </ul>
      </nav>
    </div>
</div>