<div class="container">
 <h1>講師情報変更</h1>
  <div class="row mt-5">
    <div class="mx-auto">
 
       <%= form_with model:@teacher, local:true do |f| %>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :講師名 %></li>
          <li class="list-group-item"><%= f.text_field :name %></li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :ふりがな %></li>
          <li class="list-group-item"><%= f.text_field :name_kana %></li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :学年 %></li>
          <li class="list-group-item" style="width: 215px;">
           <%= f.select :grade, [["大1", "大学1年生"], ["大2", "大学2年生"],["大3", "大学3年生"],["大4", "大学4年生"],
                                 ["院1", "院1年生"],["院2", "院2年生"],["社会人", "社会人"]], include_blank: "学年選択" %>
          </li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :大学名 %><%= f.label :学部学科（専攻） %></li>
          <li class="list-group-item"><%= f.text_field :university %><br><%= f.text_field :undergraduate %></li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :電話番号 %></li>
          <li class="list-group-item"><%= f.text_field :phone_number %></li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :性別 %></li>
          <li class="list-group-item" style="width: 215px;">
            <label><%=f.radio_button :gender, :"男性" %>男性</label>
            <label><%=f.radio_button :gender, :"女性" %>女性</label>
          </li>
       </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :指導科目 %></li>
          <li class="list-group-item" style="width: 830px;">
             <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :subject_name %>
          </li>
        </ul>
       </div>
 
       <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;"><%= f.label :特記事項 %></li>
          <li class="list-group-item"><%= f.text_area :notices %></li>
        </ul>
       </div>
           <%= f.submit"登録" %>
       <% end %>

    </div>
  </div>
</div>

