<div class="container">
 <div class="row mt-5">
  <div class="mx-auto">

<%= form_with model:@teacher, local:true do |f| %>

<table class="table-bordered">
<tr>
<th style="width:300px;">講師名</th>
<td style="width:520px;"><%= f.text_field :name %></td>
</tr>

<tr>
<th style="width:300px;">ふりがな</th>
<td style="width:520px;"><%= f.text_field :name_kana %></td>
</tr>

<tr>
<th style="width:300px;">学年</th>
<td style="width:510px;">
<%= f.select :grade, [["1年生", "大学1年生"], ["2年生", "大学2年生"],["3年生", "大学3年生"],["4年生", "大学4年生"],
                      ["院1", "大学院1年生"], ["院2", "大学院2年生"],["社会人", "社会人"]], include_blank: "学年選択" %>
</td>
</tr>

<tr>
<th style="width:300px;">大学/学部学科名</td>
<td style="width:520px;"><%= f.text_field :university %><%= f.text_field :undergraduate %></td>
</tr>

<tr>
<th style="width:300px;">電話番号</th>
<td style="width:520px;"><%= f.text_field :phone_number %></td>
</tr>

<tr>
<th style="width:300px;">性別</th>
<td style="width:520px;">
<label><%=f.radio_button :gender, :"男性" %>男性</label>
<label><%=f.radio_button :gender, :"女性" %>女性</label>
</td>
</tr>

<tr>
<th style="width:300px;">受講科目</th>
<td style="width:520px;">
<% Subject.all.each do |subject| %>
<%= check_box_tag 'teacher[subject_teachers_attributes][][subject_id]', subject.id %>
<%= label_tag subject.id, subject.subject_name %>
<% end %>
</td>
</tr>

<tr>
<th style="width:300px;">在籍</th>
 <td style="width:520px;">
  <%= f.radio_button :is_deleted, false %>
  <%= f.label :is_deleted, "在籍", value:false %>
  <%= f.radio_button :is_deleted, true %>
  <%= f.label :is_deleted, "退職", value:true %>
</td>
</tr>
</table>

    <%= f.submit"登録" %>


<% end %>
  </div>
 </div>
</div>