<div class="container">
  <div class="row mt-5">
    <div class="mx-auto">

      <%= form_with model:@teacher, local:true do |f| %>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :講師名 %></li>
         <li class="list-group-item"><%= f.text_field :name %></li>
       </ul>
      </div>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :ふりがな %></li>
         <li class="list-group-item"><%= f.text_field :name_kana %></li>
       </ul>
      </div>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :学年 %></li>
         <li class="list-group-item" style="width: 215px;">
          <%= f.select :grade, [["小1", "小学1年生"], ["小2", "小学2年生"],["小3", "小学3年生"],["小4", "小学4年生"],["小5", "小学5年生"],["小6", "小学6年生"],
                               ["中1", "中学1年生"],["中2", "中学2年生"],["中3", "中学3年生"],
                               ["高1", "高校1年生"],["高2", "高校2年生"],["高3", "高校3年生"],["卒生", "浪人生"]], include_blank: "学年選択" %>
         </li>
       </ul>
      </div>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :大学名 %><%= f.label :学部学科（専攻） %></li>
         <li class="list-group-item"><%= f.text_field :university %><br><%= f.text_field :undergraduate %></li>
       </ul>
      </div>
      
      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :電話番号 %></li>
         <li class="list-group-item"><%= f.text_field :phone_number %></li>
       </ul>
      </div>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :性別 %></li>
         <li class="list-group-item" style="width: 215px;">
           <label><%=f.radio_button :gender, :"男性" %>男性</label>
           <label><%=f.radio_button :gender, :"女性" %>女性</label>
         </li>
      </ul>
      </div>

      <div class="form-group">
       <ul class="list-group list-group-horizontal">
         <li class="list-group-item" style="width: 200px;"><%= f.label :指導科目 %></li>
         <li class="list-group-item" style="width: 830px;">
           <% Subject.all.each do |subject| %>
           <%= check_box_tag 'teacher[subject_teachers_attributes][][subject_id]', subject.id %>
           <%= label_tag subject.id, subject.subject_name %>
           <% end %>
         </li>
       </ul>
      </div>
          <%= f.submit"登録" %>
      <% end %>

    </div>
  </div>
</div>

