<div class="teacher-box">
  <div class="container">
  <h1>講師情報</h1>
    <div class="row mt-5">
      <div class="col-md-3">
        <% if @teacher.is_deleted == false %>
        <div class="new">
          <%= link_to"シフト確認", shifts_path(teacher_id: @teacher.id) %>
        </div>
        <% end %>
      </div>

      <div class="mx-auto">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">講師名</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.name %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">ふりがな</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.name_kana %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">学年</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.grade %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">大学名学部学科</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.university %><%= @teacher.undergraduate %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">電話番号</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.phone_number %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">性別</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.gender %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">特記事項</li>
          <li class="list-group-item" style="width: 400px;"><%= @teacher.notices %></li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">受講科目</li>
          <li class="list-group-item" style="width: 400px;">
            <% @subjects.map(&:subject_name).each do |subject| %>
              <%= subject %>
            <% end %>
          </li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" style="width: 200px;">在籍</li>
          <% if @teacher.is_deleted %>
          <li class="list-group-item" style="width: 400px;">退職</li>
          <% else %>
          <li class="list-group-item" style="width: 400px;">在籍中</li>
          <% end %>
        </ul>

        <div class="edit mt-3">
          <%= link_to"講師情報変更", edit_teacher_path(@teacher) %>
        </div>

        <div class="back">
          <%= link_to "講師一覧に戻る", teachers_path %>
        </div>

      </div>
    </div>
  </div>
</div>
