<!DOCTYPE html>
<html>
  <head>
    <title>Teacher's Helper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <heade>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-3">
            <%= link_to"生徒一覧", students_path %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to"講師一覧", teachers_path %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to"授業一覧", "" %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to"新規授業追加", ""%>
          </li>
          <li class="nav-item mx-3">
            <%= link_to"ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    </heade>

    <%= yield %>
  </body>
</html>
